#appBar {
    background-color: #28292b;
}

#appBarHeader {
    color: #ffffff;
    flex-grow: 1;
    cursor: pointer;
} @media only screen and (max-width: 450px) {
    #appBarHeader {
      display: none;
    }
}

#appBarButtons {
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    margin-left: 5px;
    cursor: pointer;
} @media only screen and (max-width: 534px) {
    #appBarButtons {
      font-size: 70%;
      flex-grow: 1;
    }
}

#appBarButtonsResume {
    color: white;
    border-style: solid;
    border-color: #a55a9d;
    border-width: 2px;
    margin-left: 5px;
    cursor: pointer;
} @media only screen and (max-width: 534px) {
    #appBarButtonsResume {
      font-size: 70%;
      flex-grow: 1;
    }
}